body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif; */
}

/** HEADER **/
#header-nav {
  background-color: #999999;
  border-radius: 0;
  border: 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.navbar-brand {
/*  padding-top: 25px;*/
}
.navbar-brand h1 { /* Restaurant name */
  color: #000;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  color: #000;
  border: 1px solid #000;
}

/*.navbar-header button.navbar-toggle:hover, .navbar-header .icon-bar:hover, .navbar-header button.navbar-toggle:focus, .navbar-header .icon-bar:focus, .navbar-header button.navbar-toggle:active, .navbar-header .icon-bar:active {
  color: #fff;
  border: 1px solid #fff;
}*/

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list {
  font-size: 1.5em;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list li:nth-child(1) {
  border-top: 2px solid #000;
}
#nav-list li:nth-child(3) {
  border-bottom: 0;
}
#nav-list li {
  border: 1px solid #000;
}

#nav-list a {
  color: #000;
  text-align: center;
}

#nav-list a:hover {
  color: #fff;
  background: #cccccc;
}

/** MAIN CONTENT **/
#page-header {
  padding-bottom: 40px;
}

.text-section {
  font-size: 1.4em;
  background-color: #bbbbbb;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.text-section h3 {
  margin-top: 5px;
  margin-bottom: 15px;
}